name: get-coverage

on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Build classlibrary
      run: dotnet build SuperApp.Core/SuperApp.Core.csproj --configuration Release
  
  test:
    needs: build
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run tests for release with coverlet
        run: dotnet test SuperApp.Core.Tests/SuperApp.Core.Tests.csproj --configuration Release --collect:"XPlat Code Coverage" --results-directory ./Artifacts/

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage
          path: Artifacts/**/coverage.cobertura.xml
